<%- include("../../partials/head")%>

<div class="container my-5 ">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <section class="mb-5">
                <a href="/explorer?filter=latest"
                class="btn <%= filter === 'latest' ? 'btn btn-primary' : 'btn btn-secendary'%>"
                >Latest</a>

                <a href="/explorer?filter=week"
                class="btn <%= filter === 'week' ? 'btn btn-primary' : 'btn btn-secendary'%>"
                >Week</a>

                <a href="/explorer?filter=month"
                class="btn <%= filter === 'month' ? 'btn btn-primary' : 'btn btn-secendary'%>"
                >Month</a>

                <a href="/explorer?filter=all"
                class="btn <%= filter === 'all' ? 'btn btn-primary' : 'btn btn-secendary'%>"
                >All</a>

            </section>
            <section>
                <% if(posts.length == 0 ) {%>
                    <p class="text-center text-muted">There is noting to show</p>
                <% }else{ %>
                    <% for (let post of posts) {%>
                        <div class="card card-body mb-3">
                            <% if(post.thumbnail) {%>
                                  <img src="<%= post.thumbnail%>"  class="img-fluid  mb-2">
                            <% } %>
                            <a href="/explorer/<%= post._id%>" style="color: #222;" >
                                <h4><%= post.title%></h4>
                                <p class="mb-4"><%= truncate(post.body) %></p>
                            </a>
                            <div class="d-flex">
                                <small>
                                    <%= moment(post.createdAt) %>,
                                    posted By <a href="/authore/<%= post.authore._id%>"> <strong><%= post.authore.username %></strong></a>,
                                    <%= post.readTime%>
                                </small>
                                <% if(user) {%>
                                <span class="ml-auto bookmark" data-post="<%= post._id %>">
                                <% if (bookmarks.includes(post._id)) {%>
                                    <ion-icon name="bookmark"></ion-icon>
                                <% }else{ %>
                                    <ion-icon name="bookmark-outline"></ion-icon>
                                    <% } %>
                                </span>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </section>
            <% if (totalpage > 1) {%>
                <nav>
                    <ul class="pagination">
                        <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
                            <a href="<%= `/explorer?filter =${filter}&page=${currentPage - 1} ` %>" class="page-link">
                                Previas
                            </a>
                        </li>

                        <% for(let i = 1; i <= totalpage; i++) {%>
                            <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                            <a href="<% `/explorer?filter =${filter}&page=${i} ` %>" class="page-link">
                                <%= i %>
                            </a>
                        </li>

                        <% } %>

                        <li class="page-item <%= totalpage == 1 ? 'disabled' : '' %>">
                            <a href="<%= `/explorer?filter =${filter}&page=${currentPage + 1} ` %>" class="page-link">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            <% } %>
        </div>
    </div>
</div>

<%- include("../../partials/footer")%>
<script src="/public/scripts/bookmarks.js"></script>

</body>
</html>